<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nl.moj.server.persistence.RankingMapper">

	<resultMap type="nl.moj.server.model.Ranking" id="Ranking">
		<result column="name"  property="team"  />
		<result column="scores" property="totalScore" />
		<collection property="results"  resultMap="Result" />
		
	</resultMap>

	<resultMap type="nl.moj.server.model.Result" id="Result">
		<id column="id" property="id"/>
		<result column="assignment" property="assignment" />
		<result column="score" property="score" />
		<result column="penalty" property="penalty" />	
		<result column="credit" property="credit" />	
	</resultMap>

	<select id="getRankings" resultMap="Ranking">
		SELECT t.name, results.id, results.assignment,results.score,results.penalty,results.credit, s.scores
		 FROM team t,
		 (SELECT *
		    FROM result
		   ORDER BY assignment) as results,
		 (SELECT sum(score) as scores, team
		    FROM result
		   GROUP BY team) as s
		WHERE results.team = t.name
		  AND s.team = t.name
		ORDER BY s.scores DESC
	</select>

</mapper>