<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nl.moj.server.persistence.TeamMapper">

	<select id="getAllTeamsWithResults" resultType="nl.moj.server.model.Team">
		SELECT t.name, password, role
		  FROM team t
		     , result r
		 WHERE t.name = r.team
		   AND t.role='ROLE_USER'
		 
	</select>

</mapper>