<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div th:fragment="authortips" style="white-space: pre">
## Gebruik de application.yml van de opdracht:
    1. Voeg labels toe. Indien geen labels, dan staan de opdrachten op status 'not-ready'.
    2. Met labels kun je opdrachten:
    - een rating geven op basis van fun, quality en difficulty.
    - een indeling geven van de bonus per individuele test.

## Review vragen:
    - is de opdracht omvangrijk genoeg qua software project? (voldoende tests, voldoende sources)
    - heeft de opdracht voldoende humoristische toevoegingen? Op vele plekken mag een grap staan.
    - kan worden uitgesloten dat de opdracht kan worden opgezocht op Google?
    - is de opdracht helder voor de Gamemaster, staat dit in een NL-talige readme.md bij de opdracht.
    - in de readme.md staan bij de opdracht staan nog verdere uitbreidingsmogelijkheden. zijn die nog nodig?
    - is erg een duidelijk onderscheid tussen de solution en probleem van de opdracht?
    - zijn voldoende moderne Java features toegevoegd? Bijv. extra Java 14 features zorgt voor extra inhoud.
    - is het duidelijk dat opdrachten voldoende scoren op basis van fun, quality en difficulty
    - zijn de teksten netjes geschreven en zonder typos?
    - is de solution volledig voorzien van comments (leesbaar voor de gamemaster)?

## Overig:
    - emoticons en icons kun je toevoegen via Unicode, zoals deze 🏠 (&#8962 heeft code 8962) of via <i class="fas fa-apple-alt"></i> font-awesome.


</div>

</body>
</html>
