/* Below line is used for online Google font */
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

h1{
	text-align: center;
}

div.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
table{
	border: 5px;
	width: 100%;
}

tr:nth-child(even) {background-color: #8ae234}
tr{
	background-color: #ccfbb5;
	height: 50px;
}
td{
	text-align: center;
}
div.main {
	margin-left: auto;
	margin-right: auto;
	padding: 10px 55px 40px;
	background-color: rgba(187, 255, 184, 0.65);
	border: 15px solid white;
	box-shadow: 0 0 10px;
	border-radius: 2px;
	font-size: 13px;
}



label {
	color: #464646;
	text-shadow: 0 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
}