<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/solid.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/fontawesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/control.css}"/>

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/apple-touch-icon.png}"
          href="/static/images/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}"
          href="/static/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}"
          href="/static/images/favicon-16x16.png"/>
    <link rel="mask-icon" th:href="@{/images/safari-pinned-tab.svg}" href="/static/imags/safari-pinned-tab.svg"
          color="#5bbad5"/>
    <link rel="manifest" th:href="@{//manifest.json}" href="/static/manifest.json"/>
    <meta name="theme-color" content="#ffffff"/>

    <title>Game Master GUI</title>

</head>
<body class="p-2">
<div class="container-fluid">
    <div class="row">
        <div class="col-12">

            <h1 class="text-center">[[${cs.getName()}]]</h1>
        </div>
    </div>
    <div class="row">
        <!-- status sidebar -->
        <div class="col-3">
            <div class="text-center" th:if="${cs.isAssignmentActive()}"
                 th:with="assignment=${cs.getActiveAssignment().getAssignment()}">
                <h3><span>'[[${assignment.getName()}]]'</span></h3>
            </div>
            <div id="assignment-clock"
                 th:if="${cs.isAssignmentActive()}" th:with="assignment=${cs.getActiveAssignment()}"
                 th:attrappend="data-time-left=${assignment.getSecondsLeft()},data-time=${assignment.getSeconds()}"
                 class="align-self-center">
                <div class="time d-flex justify-content-center" style="height: 160px; width: 160px;">
                    <h2 class="align-self-center">--:--</h2>
                </div>
                <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                    <g>
                        <circle class="clock circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8"
                                stroke="#6fdb6f" fill="none"></circle>
                    </g>
                </svg>
            </div>
            <div>
                <div class="mt-auto">
                    <a class="btn btn-primary w-100" href="/rankings" target="rankings"><span
                            class="fa fa-trophy pr-1"></span>Ranking</a>
                    <a class="btn btn-primary w-100" href="/feedback" target="feedback"><span
                            class="fa fa-gamepad pr-1"></span>Feedback</a>
                </div>
            </div>
        </div>

        <!-- session tabs -->
        <div class="col-9">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button type="button" class="nav-link active" id="tab-active" data-bs-toggle="tab" role="tab"
                            aria-controls="active"
                            aria-selected="true" data-bs-target="#active">Session
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" id="tab-competitions" data-bs-toggle="tab" role="tab"
                            aria-controls="competitions"
                            aria-selected="true" data-bs-target="#competitions">Competitions
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" id="tab-assignments" data-bs-toggle="tab" role="tab"
                            aria-controls="assignments"
                            aria-selected="true" data-bs-target="#assignments">Assignments
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" id="tab-admin" data-bs-toggle="tab" role="tab"
                            aria-controls="admin"
                            aria-selected="true" data-bs-target="#admin">Admin
                    </button>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="active" role="tabpanel" aria-labelledby="tab-active">
                    <table class="table table-borderless table-sm table-responsive mt-5">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Remaining</th>
                            <th scope="col">Attempts</th>
                            <th scope="col">Started</th>
                            <th scope="col">Ended</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="assignment,status : ${cs.getAssignments()}" th:if="${cs.isActive()}">
                            <td th:text="${assignment.getIdx()}"/>
                            <td th:text="${assignment.getName()}"/>
                            <td th:text="${assignment.getDuration()}"/>
                            <td th:text="${assignment.getRemaining()}"/>
                            <td th:text="${assignment.getSubmits()}"/>
                            <td th:text="${assignment.getStarted()}"/>
                            <td th:text="${assignment.getEnded()}"/>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary me-5"
                                        th:data-sid="${cs.getUuid()}"
                                        th:data-name="${assignment.getName()}"
                                        th:data-id="${assignment.getUuid()}"
                                        onclick="startAssignment(this.getAttribute('data-sid'), this.getAttribute('data-id'), this.getAttribute('data-name'))">
                                    Start
                                </button>
                                <button type="button" class="btn btn-sm btn-danger"
                                        th:data-sid="${cs.getUuid()}"
                                        th:data-name="${assignment.getName()}"
                                        th:data-id="${assignment.getUuid()}"
                                        onclick="stopAssignment(this.getAttribute('data-sid'), this.getAttribute('data-id'), this.getAttribute('data-name'))">
                                    Stop
                                </button>
                                <button type="button" class="btn btn-sm btn-danger"
                                        th:data-sid="${cs.getUuid()}"
                                        th:data-name="${assignment.getName()}"
                                        th:data-id="${assignment.getUuid()}"
                                        onclick="resetAssignment(this.getAttribute('data-sid'), this.getAttribute('data-id'), this.getAttribute('data-name'))">
                                    Reset
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="competitions" role="tabpanel" aria-labelledby="tab-competitions">
                    <table class="table table-borderless table-sm table-responsive mt-5">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col"># Assignments</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="comp,status : ${competitions}">
                            <tr data-bs-toggle="collapse" th:data-bs-target="${'#r'+status.index}">
                                <td><i class="fa fa-chevron-down"></i></td>
                                <td th:text="${comp.getName()}"></td>
                                <td th:text="${comp.getAssignments().size()}"></td>
                                <td>
                                    <button type="button" th:data-id="${comp.getUuid()}" th:data-name="${comp.getName()}" class="btn btn-sm btn-primary"
                                            onclick="startSession(this.getAttribute('data-id'),this.getAttribute('data-name'))">Start
                                    </button>
                                </td>
                            </tr>
                            <tr class="collapse accordion-collapse" th:id="${'r'+status.index}" data-bs-parent=".table">
                                <td colspan="3">
                                    <table class="table table-borderless table-sm table-responsive">
                                        <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Duration</th>
                                            <th scope="col">Attempts</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="assignment,status : ${comp.getAssignments()}">
                                            <td th:text="${assignment.getName()}"/>
                                            <td th:text="${assignment.getDuration()}"/>
                                            <td th:text="${assignment.getSubmits()}"/>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="assignments" role="tabpanel" aria-labelledby="tab-assignments">
                    <form id="create-competition" class="mt-5" data-xhr="createCompetition">
                        <p>Quickly create a competition with selected assignments.</p>
                        <div class="row">
                            <div class="col">
                                <input type="text" name="quick_comp_name" class="form-control"
                                       placeholder="Competition name ..."/>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                        <table class="table table-borderless table-sm table-responsive">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Attempts</th>
                                <th scope="col">Collections</th>
                                <th scope="col">Selected</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="assignment,status : ${assignments}">
                                <td th:text="${assignment.getName()}"/>
                                <td th:text="${assignment.getDuration()}"/>
                                <td th:text="${assignment.getSubmits()}"/>
                                <td th:text="${assignment.getCollection()}"/>
                                <td><input class="form-check-input assignment-cb" type="checkbox" name="assignment"
                                           th:value="${assignment.getUuid()}"/></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="tab-pane" id="admin" role="tabpanel" aria-labelledby="tab-admin">
                    <form class="mt-5">
                        <p>Scan assignments repository for new assignments.</p>
                        <button onclick="scanAssignments()" class="btn btn-primary">Scan Assignments</button>
                    </form>
                    <form id="upload-assignments" class="mt-5" data-xhr="uploadAssignments">
                        <p>Upload new assignments zip</p>
                        <div class="row">
                            <div class="col">
                                <input type="file" class="form-control" placeholder="Assignments archive ..."/>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Upload &amp; Scan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div><!-- TABS-->
    </div>
</div>

<div id="toasts" class="toast-container p-3 top-0 end-0">
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/stomp__stompjs/bundles/stomp.umd.min.js}"></script>

<script type="text/javascript" th:src="@{/js/clock.js}"></script>
<script type="text/javascript" th:src="@{/js/taskcontrol.js}"></script>
</body>
</html>
