<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>

	<script src="/js/coolclock.js" type="text/javascript"></script>
<title>Control</title>
</head>
<body onload="connect();">

<div>
<canvas id="clockid"  class="CoolClock"></canvas>
</div>

<div>
	<ul>
		<li th:each="name : ${assignmenNames}" >
			<input type="radio" name="assignment" th:value="${name}" th:text="${name}"/>
		</li>
	</ul>	
</div>
<div id="conversationDiv">
 <button id="start" onclick="startTask();">Start Task</button>
 <button id="stop" onclick="stopTask();">Stop Task</button>
</div>
<div>
  <ul>
    <li th:each="repo : ${repos}" >
        <input type="radio" name="repo" th:value="${repo.name}" th:text="${repo.name} +| / | + ${repo.branch}"/>
  </li>
  </ul>
</div>
<div id="conversationDiv">
 <button id="clone" onclick="cloneAssignmentsRepo();">Clone assignments repo</button>
 <p id="response"></p>
 <form method="POST" action="/upload" enctype="multipart/form-data">
     <input type="file" name="file" /><br/><br/>
     <input type="submit" value="upload" />
 </form>
    <a href="/getresults">get results</a>
</div>



<script type="text/javascript" src="/js/taskcontrol.js"></script>
</body>
</html>