<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Master of Java 2017</title>

    <link rel="stylesheet" th:href="@{/webjars/codemirror-minified/addon/hint/show-hint.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/codemirror-minified/lib/codemirror.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui-themes/smoothness/jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.0.0-beta-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>

</head>

<body>
<div class="container-fluid pl-4 p-2">
    <!-- header -->

    <!-- content -->
    <div class="row">
        <div class="col-9">
            <!--/*@thymesVar id="running" type="java.lang.Boolean"*/-->
            <div class="text-center" th:unless="${running}">
                <h1>No active assignment</h1>
                <p>At the moment there is no assignment active. Once an assignment is started you will automatically be
                    shown he assignment.</p>
            </div>

            <!--/*@thymesVar id="finished" type="java.lang.Boolean"*/-->
            <div class="text-center" th:if="${finished}">
                <h1>Assignment Submitted</h1>
                <p>You submitted the assignment for final review and therefore can no longer change the assignment any
                    more.</p>
            </div>

            <div th:if="${running} and not ${finished}">
                <div class="p-2">
                    <h3>Assignment: NAME</h3>
                </div>
                <div id="tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <!--/*@thymesVar id="files" type="java.util.List<nl.moj.server.files.AssignmentFile>"*/-->
                        <li class="nav-item" th:each="file,status : ${files}">
                            <a class="nav-link" th:classappend="${status.index==0?'active':''}" th:id="${file.name}"
                               th:href="${'#'+file.name + '-tab'}" data-toggle="tab"
                               th:text="${file.filename}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="output" href="#output-tab" data-toggle="tab">Output</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade" th:classappend="${status.index==0?'show active':''}" role="tabpanel"
                             th:each="file,status : ${files}" th:id="${file.name + '-tab'}">
                            <div>
                                <pre th:if="${file.fileType.name()=='TASK'}" th:utext="${file.content}"></pre>
                                <textarea th:if="${file.fileType.name()!='TASK'}"
                                          th:attr="data-cm=${file.name},data-cm-file-type=${file.fileType},data-cm-readonly=${file.readOnly},data-cm-filename=${file.filename}"
                                          th:utext="${file.content}"></textarea>
                            </div>
                        </div>
                        <div class="tab-pane fade" role="tabpanel" id="output-tab">
                            <div id="#output-content" class="output-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 d-flex flex-column">
            <div class="p-2 align-self-center">
                <img th:src="@{/images/moj_logo_128x97_2017.png}" class="img-fluid"
                     src="/static/images/moj_logo_128x97_2017.png"/>
            </div>
            <div class="p-2 align-self-center">
                <h2>Team: ${team}</h2>
            </div>
            <div th:if="${running}" class="p-2 align-self-center">
                <div class="text-center">
                    <h3>Time Left</h3>
                </div>
                <div id="assignment-clock" class="align-self-center">
                    <div class="time d-flex justify-content-center" style="height: 160px; width: 160px;">
                        <h2 class="align-self-center">--:--</h2>
                    </div>
                    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <circle class="clock" r="69.85699" cy="81" cx="81"
                                    stroke-width="8"
                                    stroke="#6fdb6f" fill="none"></circle>
                        </g>
                    </svg>
                </div>
            </div>
            <div th:if="${running} and not ${finished}" class="mt-5 p-2 text-center">
                <a class="btn w-50 btn-warning text-white"
                   href="http://download.java.net/java/jdk9/docs/api/overview-summary.html"
                   target="_blank">Javadoc</a>
            </div>
            <div th:if="${running} and not ${finished}" class="p-2 text-center">
                <form>
                    <button id="compile" class="btn w-50 btn-success">Compile</button>
                </form>
            </div>
            <div th:if="${running} and not ${finished}" class="p-2  text-center">
                <form>
                    <button id="show-tests" class="btn w-50 btn-success" data-toggle="modal" data-target="#test-modal">Test
                    </button>
                </form>
            </div>
            <div th:if="${running} and not ${finished}" class="mt-5 p-2  text-center">
                <form>
                    <button id="submit" class="btn w-50 btn-danger">SUBMIT</button>
                </form>
            </div>

        </div>
    </div>
    <!-- footer -->
    <div class="fixed-bottom footer d-flex">
        <div class="mr-auto p-2">
            <img th:src="@{/images/logo_first8_150x39.png}" class="img-fluid"
                 src="/static/images/logo_first8_150x39.png"/>
        </div>
        <div class="ml-auto p-2 align-self-center" id="status"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="test-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Test Selection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please select the tests you want to run.</p>
                <form>
                    <div class="form-check" th:each="testname : ${testnames}">
                        <label class="form-check-label">
                            <input name="test" class="form-check-input" type="checkbox" th:value="${testname}">
                            [[${testname}]]
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="test" class="btn btn-primary">Run Tests</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/codemirror-minified/lib/codemirror.js}"></script>
<script type="text/javascript" th:src="@{/webjars/codemirror-minified/addon/edit/matchbrackets.js}"></script>
<script type="text/javascript" th:src="@{/webjars/codemirror-minified/addon/selection/active-line.js}"></script>
<script type="text/javascript" th:src="@{/webjars/codemirror-minified/addon/hint/show-hint.js}"></script>
<script type="text/javascript" th:src="@{/webjars/codemirror-minified/mode/clike/clike.js}"></script>

<script type="text/javascript" th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>

<script type="text/javascript" th:src="@{/js/app.js}"></script>

</body>
</html>