<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Master of Java 2017</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.0.0-beta-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/rankings.css}" href="/static/css/rankings.css"/>

</head>

<body class="p-2">
<div class="container-fluid">
    <!-- content -->
    <div class="row mt-3">
        <div class="col-6 mt-4">
            <div class="text-center">
                <h3>Assignment: [[${assignment}]]</h3>
            </div>
            <div class="p-2 d-flex justify-content-center">
                <div id="assignment-clock" th:attrappend="data-time-left=${timeLeft},data-time=${time}"
                     class="align-self-center">
                    <div class="time d-flex justify-content-center" style="height: 370px; width: 370px;">
                        <h2 class="align-self-center">--:--</h2>
                    </div>
                    <svg width="370" height="370" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <circle class="clock circle_animation" r="150" cy="185" cx="185"
                                    stroke-width="25"
                                    stroke="#6fdb6f" fill="none"></circle>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row justify-content-center">
                <div>
                    <img th:src="@{/images/moj_logo_128x97_2017.png}" class="img-fluid"
                         src="/static/images/moj_logo_128x97_2017.png"/>
                </div>
                <div class="pl-5 align-self-center">
                    <h1>Ranking</h1>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <table id="top5" class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Team</th>
                            <th th:each="assignment : ${assignments}" th:text="${assignment}"></th>
                            <th>Total Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--/*@thymesVar id="top" type="java.util.List<nl.moj.server.model.Ranking>"*/-->
                        <tr th:each="ranking,status : ${top}" th:class="${'rank-'+status.index}">
                            <td th:text="${ranking.rank}"></td>
                            <td th:text="${ranking.team}">teamname</td>
                            <th:block th:each="result : ${ranking.results}">
                                <td th:text="${result.score}">0</td>
                            </th:block>
                            <td th:text="${ranking.totalScore}">3</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <table id="bottom1" class="table table-sm">
                <thead>
                <tr>
                    <th></th>
                    <th>Team</th>
                    <th th:each="assignment : ${assignments}" th:text="${assignment}"></th>
                    <th>Total Score</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="bottom1" type="java.util.List<nl.moj.server.model.Ranking>"*/-->
                <tr th:each="ranking : ${bottom1}">
                    <td th:text="${ranking.rank}"></td>
                    <td th:text="${ranking.team}">teamname</td>
                    <th:block th:each="result : ${ranking.results}">
                        <td th:text="${result.score}">0</td>
                    </th:block>
                    <td th:text="${ranking.totalScore}">3</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table id="bottom2" class="table table-sm">
                <thead>
                <tr>
                    <th></th>
                    <th>Team</th>
                    <th th:each="assignment : ${assignments}" th:text="${assignment}"></th>
                    <th>Total Score</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="bottom2" type="java.util.List<nl.moj.server.model.Ranking>"*/-->
                <tr th:each="ranking : ${bottom2}">
                    <td th:text="${ranking.rank}"></td>
                    <td th:text="${ranking.team}">teamname</td>
                    <th:block th:each="result : ${ranking.results}">
                        <td th:text="${result.score}">0</td>
                    </th:block>
                    <td th:text="${ranking.totalScore}">3</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table id="bottom3" class="table table-sm">
                <thead>
                <tr>
                    <th></th>
                    <th>Team</th>
                    <th th:each="assignment : ${assignments}" th:text="${assignment}"></th>
                    <th>Total Score</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="bottom3" type="java.util.List<nl.moj.server.model.Ranking>"*/-->
                <tr th:each="ranking : ${bottom3}">
                    <td th:text="${ranking.rank}"></td>
                    <td th:text="${ranking.team}">teamname</td>
                    <th:block th:each="result : ${ranking.results}">
                        <td th:text="${result.score}">0</td>
                    </th:block>
                    <td th:text="${ranking.totalScore}">3</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- footer -->
    <div class="fixed-bottom footer d-flex">
        <div class="mr-auto p-2">
            <img th:src="@{/images/logo_first8_150x39.png}" class="img-fluid"
                 src="/static/images/logo_first8_150x39.png"/>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/dist/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>

<script type="text/javascript" th:src="@{/js/rankings.js}"></script>

</body>
</html>