<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/js/ranking.js"></script>
<link href="/css/ranking.css" rel="stylesheet" />
</head>

<header>
	<h1>Rankings</h1>
</header>
<body onload = connect()>
	<div class="container">
		<div id="main" class="main">
			<table id="table">
				<tr>
					<th COLSPAN="10">
						<h3><br>SCORE BOARD</h3>
					</th>
				</tr>
				<tr>
					<th>Team</th>
					<th th:each="assignment : ${assignments}" th:text="${assignment}"/>
					<th>Total score</th>
				</tr>
				<tr th:each="ranking : ${rankings}">
					<td th:text="${ranking.team}" />
					<td th:each="result : ${ranking.results}" th:text="${result.score}"/>
					<td th:text="${ranking.totalScore}"/>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>