<html>
<head>
<title>Registration Masters of Java</title>
<meta name="robots" content="noindex, nofollow">
<!-- Include CSS File Here -->
<link rel="stylesheet" href="registration.css" />
</head>
<body>
	<div class="container">
		<div class="main">
		    <form action="#" th:action="@{/register}" th:object="${team}" method="post">
				<h2>Welcome to Masters of Java!</h2>
			    <div th:each="error : ${errors}">
			    	<p><a class="alert alert-error" th:text="${error}"></a>
			    	<a class="alert alert-error">, please try again</a></p>
				</div>
				<h4>Register please:</h4>
		    	<p>Name: <input type="text" th:field="*{name}" /></p>
		        <p>Password: <input type="password" th:field="*{password}" /></p>
		        <p>Confirm Password: <input type="password" th:field="*{cpassword}" /></p>
		        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
		    </form>
		</div>
	</div>
</body>
</html>