<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Masters of Java</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          href="/webjars/bootstrap/4.0.0-beta-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/registration.css}" href="/static/css/registration.css"/>

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/apple-touch-icon.png}"
          href="/static/images/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}"
          href="/static/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}"
          href="/static/images/favicon-16x16.png"/>
    <link rel="mask-icon" th:href="@{/images/safari-pinned-tab.svg}" href="/static/imags/safari-pinned-tab.svg"
          color="#5bbad5"/>
    <link rel="manifest" th:href="@{//manifest.json}" href="/static/manifest.json"/>
    <meta name="theme-color" content="#ffffff"/>

</head>

<body class="p-5">
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img width="319" height="243" th:src="@{/images/moj_logo.png}" src="/static/images/moj_logo.png"/>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col text-center">
            <span>Powered By</span>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <img th:src="@{/images/logo_first8_150x39.png}" src="/static/images/logo_first8_150x39.png"/>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center" th:if="${errors}">
            <th:block th:each="error : ${errors}">
                <p th:text="${error}"></p>
            </th:block>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="register-container">
            <form action="#" th:action="@{/register}" th:object="${form}" method="post">
                <div class="form-group">
                    <label for="name">Team</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="" maxlength="50">
                    <small id="usernameHelp" class="form-text text-muted">This will show up everywhere.</small>
                </div>
                <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" class="form-control" id="company" th:field="*{company}" placeholder="" maxlength="100">
                    <small id="companyHelp" class="form-text text-muted">Yours or your teammate's or both or ...</small>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <select id="country" th:field="*{country}" class="form-control">
                        <option value="Nederland">Nederland</option>
                        <option value="België">België</option>
                    </select>
                    <small id="countryHelp" class="form-text text-muted">Where are you?</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}" placeholder=""
                           maxlength="100">
                </div>
                <div class="form-group">
                    <label for="passwordCheck">Confirm Password</label>
                    <input type="password" class="form-control" id="passwordCheck" th:field="*{passwordCheck}"
                           placeholder="" maxlength="100">
                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="submit" id="login" class="btn btn-primary ml-2">Register</button>
                    <a class="btn btn-outline-primary ml-2" th:href="@{/}">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>