<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/js/testfeedback.js"></script>
<link href="/css/testfeedback.css" rel="stylesheet" />
</head>

<header>
 <h1 id="tasktime">Test Feedback</h1>
</header>

<body onload=init()>
 <div class="container">
  <div id="main" class="main">

   <th:block th:each="team : ${teams}">
    <table style="display: inline-block;">
     <tr>
      <td th:colspan="${#lists.size(tests)}" th:text="${team.name}">Row 1: Col 1</td>
     </tr>
     <tr>
      <td th:id="${team.name}+'-'+${test}" th:each="test : ${tests}">O</td>
     </tr>
    </table>
   </th:block>

  </div>
 </div>
</body>
</html>